# .env.example
# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=admin
DB_PASS=admin123S
DB_NAME=bolao_db

# admin configs
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@email.com
ADMIN_PASS=admin123

# Config Auth JWT
ACESS_TOKEN_SECRET=dasdfasdfasdASDFÇJKLASDFJKLÇASDFKLÇJASDFJKLÇSDK